@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #cfb57c;
  --secondary: rgba(204, 225, 252, 0.877);
  --teritary: rgba(155, 207, 102, 0.778);
  --dark-blue: #314f78;
  --text: #715959;
  --dark-text: #463c3c;
}
.root {
  height: 100vh;
}

.welcome-box {
  height: 90vh;
}



.App {
  text-align: center;
  background-size: cover;
  background-position: left;
  height:100%;
}

.button {
  background-color: var(--secondary);
  color: var(--text);
}

button:hover {
  background-color: var(--dark-blue);
  color: whitesmoke;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.question-form {
  background-color: rgba(88, 85, 85, 0.627);
  font-size: calc(1vw + 5px);
  backdrop-filter: blur(1);
  height: calc(70vh + 10px);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(70vw + 15px);
  margin: 2rem;
}

.question-box{
  margin-inline: 2vw;
  grid-gap: 2%;
}

.text-input{
  width: calc(45vw + 10px);
}

.results {
  background-size: cover;
  filter: blur(1);
  background-position: left;
}

.prompt {
  font-size: calc(1vw + 16px);
  color: var(--secondary);
}

.homeimage {
  object-fit: cover;
  height: 24rem;
}
.homeimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
}

.mortgage-box{ 

  background: rgba(0, 0, 0, 0.5);
  /* filter: blur(5px);  */


}

.icon {
  font-size: 3rem;
}
header {
  background-color: var(--secondary);
  font-size: 3rem;
  color: var(--text);
}

.results {
  color: var(--secondary);
}
.criteria {
  font-size: 1.4rem;
  color: var(--secondary);
}
.result-criteria {
  background-color: grey;
}

footer {
  background-color: var(--secondary);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  color: var(--text);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
